:root {
  --color-page: #ffba00;
}
.App {
  text-align: center;
}
.header {
  background-color: var(--color-page);
  font-family: Helvetica, Arial, Roboto, sans-serif;
  position: -webkit-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  font-size: 0.875rem;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.searchBar {
  background-color: var(--color-page);
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 52px;
  padding-bottom: 12px;
  z-index: 100;
}
